IPython==8.12.3
ast
bs4
collections
country_named_entity_recognition
gensim
geopandas==1.0.1
ipywidgets==8.0.4
itertools
json
langchain
matplotlib==3.8.2
nbformat==5.9.2
nltk
os
pandas==2.1.4
plotly
pprint
pycountry
pycountry_convert
pypdf
re
requests==2.31.0
seaborn==0.13.2
squarify
time
